<div class="container">
  <h1 class="text-center mb-4">All Movies</h1>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="<%= movie.poster_url %>" class="card-img-top" alt="<%= movie.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><strong>Overview:</strong> <%= movie.overview %></p>
            <p class="card-text"><strong>Rating:</strong> <%= movie.rating %></p>
            <%= link_to "Delete", movie_path(movie), class: "btn btn-danger", style: "background-color: 6a6a6a; color: #fff;", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
